body {

    background: #000000 url('../images/tapet_1.png') repeat;
    color: #ffffff;
    background-size: cover;

}

#controls {
    position: absolute;
    top: 500;
    width: 18%;
}

h1 {
    color: #ffffff;
}

.carta_meua {
    position: absolute;
    left: 10;
    width: 100%;

}

.carta_meua_oculta {
    position: absolute;
    left: 10;
}

.carta_meua_oculta1 {
    position: absolute;
    left: 10;
}

.carta_meua_oculta2{
	position:absolute;
	left:10;
}

.carta_banca_oculta{
	position:absolute;
	left:10;

}

.carta_banca {
    position: absolute;
    left: 10;
    width: 100%;

}


/*y+y+y+y+y+y+y+y+y+y+y+y+y+y+y++y+y+y+y+y+y*/


/*HAY que probar cosas*/

.tancar_jugada {
    position: absolute;
    top: 130;
    left: 50;
}

#tancar_jugada:hover {
    background: blue;
}

#tancar_jugada {
    position: absolute;
    top: 110;
    left: 543;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #FFF;
    background: black;
    padding: 6px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 5px;
    width: 13%;
}

.azul {
    background: #3498DB;
    border: 1px solid #2980B9;
}

.azul:hover {
    background: #39a0e5;
}

.verde {
    background: #2ECC71;
    #27AE60;
    border: 1px solid #27AE60;
}

.verde:hover {
    background: #32db78;
}

.rojo {
    background: #E74C3C;
    border: 1px solid #C0392B;
}

.rojo:hover {
    background: #ff5242;
}


/*+y+y+y+y+y+y+y+y+y+y+y+y+y+y+y+y+y+y+y+y+y*/

#meua_jugada0 {
    position: absolute;
    top: 180;
    left: 543;
    text-align: center;
    width: 11%;

}

#meua_jugada1 {
    position: absolute;
    top: 180;
    left: 713;
    text-align: center;
    width: 11%;
}

#meua_jugada2 {
    position: absolute;
    top: 180;
    left: 883;
    text-align: center;
    width: 11%;
}

#meua_jugada3 {
    position: absolute;
    top: 180;
    left: 1053;
    text-align: center;
      width: 11%;
}

#banca_jugada {
    position: absolute;
    top: 490;
    left: 540;
    text-align: center;
    width: 11%;
}

#info_jugada {
    position: absolute;
    top: 540;
    left: 270;
    text-align: center;
    border: 0px solid #ffffff;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 170px;
    width: 210px;
}

#Player2_jugada0 {
    position: absolute;
    top: 150;
    left: 600;
    text-align: center;
    width: 11%;
}

#Player2_jugada1 {
    position: absolute;
    top: 150;
    left: 770;
    text-align: center;
    width: 11%;

}

#Player2_jugada2 {
    position: absolute;
    top: 150;
    left: 940;
    text-align: center;
    width: 11%;

}

#Player2_jugada3 {
    position: absolute;
    top: 150;
    left: 1110;
    text-align: center;
      width: 11%;

}

#Player3_jugada0{
	position:absolute;
	top:150;
	left:1140;
	text-align:center;
  width: 11%;

}

#Player3_jugada1{
	position:absolute;
	top:150;
	left:1310;
	text-align:center;
	  width: 11%;
}

#Player3_jugada2{
	position:absolute;
	top:150;
	left:1480;
	text-align:center;
  width: 11%;
}
#Player3_jugada3{
	position:absolute;
	top:150;
	left:1510;
	text-align:center;
	  width: 11%;
}


/*////////*/

#btnAgarraCarta{
width: 100%;

}




/*Score Css*/

#scorePlayer1 {
    margin: 0px;
    position: absolute;
    top: 55;
    left: 40;
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    color: #ff00de;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    z-index: -1;
}

#scorePlayer2 {
    margin: 0px;
    position: absolute;
    top: 55;
    left: 600;
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    color: #0EC435;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    z-index: -1;
}

#scorePlayer3 {
    margin: 0px;
    position: absolute;
    top: 55;
    left: 1140;
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    color: #25E0E3;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    z-index: -1;
}

/*Fin Score Css*/


/*Nombre */

h2#player1 {
    content: "TOTO";
    font-family: 'Russo One', sans-serif;
    position: absolute;
    z-index: -1;
    color: #931A77;
    top: 55;
    left: 90;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

h2#player2 {
    position: absolute;
    font-family: 'Russo One', sans-serif;
    z-index: -1;
    color: #23582E;
    top: 55;
    left: 650;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0EC435, 0 0 70px #0EC435, 0 0 80px #0EC435, 0 0 100px #0EC435, 0 0 150px #0EC435;
}

h2#player3 {
    position: absolute;
    font-family: 'Russo One', sans-serif;
    z-index: -1;
    color: #252BE3;
    top: 55;
    left: 1190;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #25E0E3, 0 0 70px #25E0E3, 0 0 80px #25E0E3, 0 0 100px #25E0E3, 0 0 150px #25E0E3;
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: lightgray;
    color: black;
}

.modal-body {
    padding: 20px 16px;
    color: black;
}

.modal-footer {
    padding: 2px 20px;
    background-color: lightgray;
    color: black;
}

input.modal-body {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.option {
    width: 100%;
    font-size: 2em;
    height: 10%;
}

#p1 {
    position: absolute;
    top: 60px;
    left: 200px;
}

#p2 {
    position: absolute;
    top: 60px;
    left: 800px;
}

#p3 {
    position: absolute;
    top: 60px;
    left: 1290px;
}
