<!-- The Modal -->
<div id="modal-game-mode" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close"></span>
      <h2>Choose number of players</h2>
    </div>
    <div class="modal-body">
      <form id="form1" runat="server">
          <input class="option" type='button' id="single" value="1. Amused alone!"/><br>
          <input class="option" type='button' id="two" value="2. Better in company!"/><br>
          <input class="option" type='button' id="three" value="3. Two is company but three is a crowd!"/>

      </form>
    </div>
    <div class="modal-footer">
      <h5>It is funnier if you play in any network mode. Remember that it is possible no one is connected at the same time and network playing it would be impossible </h5>
    </div>
  </div>
</div>
